# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [14]:
# write your answer here
from collections import Counter
import numpy as np 
text = 'google.com'
temp={}
frequency = Counter(text)
for (key, value) in frequency.items():
    temp.update({key:value})
sorteddict={k:v for k,v in sorted(temp.items(),key=lambda v:v[1],reverse=True)}
print(sorteddict)

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [2]:
list1 = [1,2,3,4,5,6,7,8,9,10]

# using sum() function
total = sum(list1)

# printing total value
print("Sum all the items in a list: ", total)

Sum all the items in a list:  55

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [7]:
# write your answer here
def alter_char(word):
  char = word[0]
  word = word.replace(char, '$')
  word = char + word[1:]

  return word

print(alter_char('restart'))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [5]:
# write your answer here
a = int(input("Enter a ="))
b=int(input("Enter b ="))
S=3.14 *(1+a/b)**3
print(S)

Enter a =0
Enter b =1
3.14

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dic= {}
for d in (dic1, dic2, dic3): new_dic.update(d)
print(new_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [9]:
# write your answer here
exTuple = (4,8,12,16,20,24,28,32,36,40)
num = int(input("Enter element to Find = "))
result = num in exTuple
print("Whether an element exists within a tuple", num, "? ", result)

Enter element to Find = 24
Whether an element exists within a tuple 24 ?  True

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [6]:
# write your answer here

exSet = {6, 10, -1, 12, 0, 75}
print("\nMaximum value of the set:")
print(max(exSet))
print("\nMinimum value of the set:")
print(min(exSet))

Maximum value of the set:
75

Minimum value of the set:
-1

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [8]:
# write your answer here
def find_duplicate(nums):
    exSet = set()
    no_dup = -1

    for i in range(len(nums)):

        if nums[i] in exSet:
            return nums[i]
        else:
            exSet.add(nums[i])

    return no_dup

print(find_duplicate([5,10,15,5,25]))
print(find_duplicate([1, 2, 3, 4]))
print(find_duplicate([6,6,8,9,7,8,9]))

5
-1
6